* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
}

.clear {
    clear: both;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
}

.w50 {
    width: 50%;
}

.wHalf {
    width: 50%;
}

.flex-wrap {
    display: flex;
    width: 100%;
}

.wrap-wrap {
    flex-wrap: wrap;
}

.wrap-single {
    width: 33.3%;
}

.revs {
    transform: scaleX(-1);
}

section.header-fill {
    width: 100%;
    padding: 30px 0;
    background-image: url(../assets/bg_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 700px;
}

header {
	border-bottom: 3px solid rgba(71, 83, 88,0.14);
	padding-top: 20px;
}

header div.logo {
    float: left;
    width: 166px;
    height: 64px;
    background-image: url(../assets/logo.png);
    background-size: 100% 100%;
    position: relative;
    top: -20px;
    cursor: pointer;
}


nav.menu-desktop {
    float: left;
    padding-left: 40px;
}

nav.menu-desktop ul {
    list-style-type: none;
}

nav.menu-desktop li {
    display: inline-block;
    margin: 0 15px;
    color: white;
    font-size: 16px;
}

nav.menu-desktop a {
    color: inherit;
    text-decoration: none;
    transition: 250ms ease-in;
}

nav.menu-desktop ul li a:hover {
    color: #509d87;
}

nav.menu-desktop ul li a:after {
    display: block;
    content: '';
    border-bottom: 1px solid #509d87;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

nav.menu-desktop ul li a:hover:after {
    transform: scale(1);
}

nav.menu-mobile {
    display: none;
}

header .menu-mobile {
    display: none;
    float: right;
}

header .menu-mobile p {
    font-size: 40px;
    color: #fff;
    position: relative;
    right: 80px;
    bottom: 65px;
    cursor: pointer;
}

header .menu-mobile ul {
    display: none;
    background-color: rgba(80, 157, 135, 0.8);
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
    list-style-type: none;
    text-align: center;
}

header .menu-mobile ul li a {
    padding: 8px 0;
    text-decoration: none;
    color: white;
    display: block;
}

header .phone-header {
    float: left;
    color: white;
    position: relative;
    top: -5px;
}

header .phone-header span {
    font-size: 20px;
    color: inherit;
    padding-left: 30px;
}

section.header-fill .flex-wrap {
    padding-top: 50px;
}

.main-text {
    margin-top: 40px;
}

.main-text h2,
.main-text p {
    padding: 0 2%;
}

.main-text h2 {
    color: #509d87;
    font-size: 30px;
    font-weight: 300;
}

.main-text p {
    margin-top: 25px;
    color: #4b4b4b;
}

.form-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;
}

.form-wrapper input[type=email] {
    width: 100%;
    max-width: 170px;
    border-radius: 40px;
    border: 2px solid #ccc;
    padding: 13px;
}

.submit-btn {
    width: 100%;
    color: white;
    padding: 13px;
    cursor: pointer;
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 40px;
    text-align: center;
    transition: 250ms ease-in;
}

.submit-btn:hover {
    background-color: white;
    color: lightseagreen;
}

.main-text span {
    color: #509d87;
}

.round-img .img-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.img-wrapper .two-img {
    height: 180px;
}

.round-img .img-wrapper .one {
    background-image: url(../assets/round_images/circle01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.round-img .img-wrapper .two {
    background-image: url(../assets/round_images/circle02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.round-img .img-wrapper .three {
    background-image: url(../assets/round_images/circle03.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 20px;
}

.round-img .img-wrapper .four {
    background-image: url(../assets/round_images/circle04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 20px;
}

.wrap-single {
    padding: 0 10px;
}

.wrap-single .icon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.wrap-single .icon img {
    max-width: 200px;
    height: 60px;
}

.wrap-single h2 {
    margin-bottom: 20px;
    font-weight: 400;
    color: #509d87;
}

.wrap-single p {
    color: #4b4b4b;
}

section.banner-about > .container {
    padding: 50px 0;
    max-width: 1440px;
    width: 100%;
}

.banner-about .banner-img {
    float: left;
    width: 50%;
}

.banner-about .banner-img img {
    max-width: 100%;
    height: 380px;
}

.banner-about .banner-content {
    float: left;
    width: 50%;
    padding: 0 60px;
    max-width: 500px;
}

.banner-content .single-text h2 {
    color: #509d87;
    font-weight: 400;
}

.banner-content .single-text b {
    color: #509d87;
}

.banner-content .single-text :where(h2, b, p) {
    margin: 10px 0;
    color: #4b4b4b;
}

section.statement-fill {
    width: 100%;
    background-image: url(../assets/bg_02.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 300px;
    z-index: 2;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.statement-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #4b4b4b;
}

.statement-text p {
    margin-top: 20px;
    color: #4b4b4b;
}

.statement-text h2 {
    font-weight: 300;
}

.statement-text i {
    margin: 0 10px;
}

section.treatments-wrapper > .container {
    padding: 50px 0;
    max-width: 1440px;
    width: 100%;
}

.treatments-wrapper h2 {
    color: #509d87;
    font-weight: 400;
    text-align: center;
}

.review-img {
    float: left;
    width: 50%;
    padding: 0 5%;
    position: relative;
    top: 70px;
}

.review {
    display: flex;
    justify-content: left;
}

.review p {
    position: relative;
    top: 70px;
    margin: 0 20px;
    color: #509d87;
}

.stages {
    width: 50%;
    float: left;
}

.stages p {
    color: #4b4b4b;
}

.groups {
    margin-top: 40px;
    position: relative;
    right: 40px;
}

.groups .circle {
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 50%;
	border: 1px solid #ccc;
	position: relative;
}

.circle span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
    color: #509d87;
    font-size: 30px;
}

.line {
	position: absolute;
	top: 79px;
	left: 50%;
	z-index: 2;
	transform:translate(-50%,0);
	height: 40px;
	width: 1px;
	background: black;
}

.stages-desc {
	float: left;
	width: calc(100% - 100px);
	padding:0 20px;
}

.stages-desc h3 {
	color: #509d87;
	font-size: 18px;
    margin-bottom: 8px;
}

.stages-desc p {
	font-weight: bold;
	font-size: 14px;
}

section.positive-points > .container {
    padding: 50px 0;
    max-width: 500px;
    width: 100%;
}

.positive-points h2 {
    color: #509d87;
    font-weight: 400;
    text-align: center;
}

.versus-menu {
    margin: 50px auto;
    text-align: center;
}

.versus-menu :where(p) {
    font-size: 17px;
}

.traditional {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
}

.traditional h2 {
    margin-bottom: 28px;
}

.traditional p {
    color: #7c7c7c;
    margin: 10px 0;
}

.invisalign p {
    color: #509d87;
    margin: 20px 0;
}

.invisalign {
    float: left;
    width: 50%;
    border-left: 1px solid #ccc;
}

.invisalign img {
    width: 100%;
    max-width: 130px;
}

.red-line {
    width: 100%;
    max-width: 170px;
    border: 1px solid #f34d4d;
    position: relative;
    top: -20px;
    margin: 0 auto;
    transform: rotate(-2deg);
}

section.contact {
    width: 100%;
    background-color: #c6f5e7;
    padding: 50px 0;
}

section.contact h2 {
    text-align: center;
    color: #509d87;
    margin-bottom: 60px;
}

.profile-img {
    width: 50%;
    float: left;
    position: relative;
    top: 50px;
}

.contact-form {
    width: 50%;
    float: left;
}

.worker-img {
    width: 100%;
    padding-top: 250px;
    max-width: 250px;
    border-radius: 50%;
    border: 6px solid #7c7c7c;
    margin: 0 auto 20px auto;
    background-image: url(../assets/dra.png);
    background-position: right -25px top -3px;
}

.profile-img p {
    color: #509d87;
    text-align: center;
}

.contact-form p {
    color: #509d87;
    margin-bottom: 20px;
}

.contact-form input {
    width: 100%;
    max-width: 400px;
    border-radius: 40px;
    border: 2px solid #ccc;
    padding: 14px;
    margin: 8px 0;
}

.contact-form a {
    position: relative;
    top: 20px;
    width: 100%;
    display: block;
    max-width: 400px;
    color: white;
    padding: 13px;
    cursor: pointer;
    background-color: lightseagreen;
    border: 2px solid lightseagreen;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    transition: 250ms ease-in;
}

.contact-form a:hover {
    background-color: white;
    color: lightseagreen;
}

.contact-form a > b {
    font-weight: normal;
    text-decoration: underline;
}

footer {
    width: 100%;
    background-color: #509d87;
    padding: 30px 0;
}

footer img {
    width: 166px;
    height: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 860px) {
    .header-fill header .logo {
        float: none;
        margin-right: auto;
        margin-left: auto;
        display: block;
        margin: 0 auto -40px auto;
    }

    .menu-desktop {
        display: none;
    }

    .phone-header {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

    header .menu-mobile p {
        font-size: 40px;
        color: #fff;
        position: relative;
        right: 10px;
        top: 2px;
    }

    header .menu-mobile ul {
        top: 125px;
    }

    .w50 {
        width: 100%;
    }

    .wHalf {
        width: 50%;
        margin: 0 auto;
    }

    .flex-wrap {
        display: inline-block;
    }

    .main-text {
        margin-top: 0;
        text-align: center;
    }
    
    .form-wrapper {
        display: inline-block;
        width: 100%;
        margin: 30px 0;
    }

    .round-img {
        width: 100%;
    }

    .round-img .img-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0;
    }
    
    .img-wrapper .two-img {
        height: 150px;
    }

    .wrap-single {
        width: 100%;
    }

    .wrap-single :where(h2, b, p) {
        text-align: center;
    }

    .banner-about .banner-img {
        float: none;
        width: 100%;
    }
    
    .banner-about .banner-img img {
        max-width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        right: 55px;
    }
    
    .banner-about .banner-content {
        float: none;
        width: 100%;
        max-width: 100%;
    }

    .banner-content .single-text :where(h2, b, p) {
        text-align: center;
    }

    section.statement-fill {
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    .review-img {
        display: none;
    }

    .stages {
        width: 100%;
        float: none;
    }

    .groups {
        margin-top: 40px;
        position: relative;
        right: 0;
        left: 0;
    }
    
    .groups .circle {
        float: none;
        position: relative;
        margin: 20px auto;
    }
    
    .line {
        display: none;
    }
    
    .stages-desc {
        float: none;
        width: 100%;
    }

    .profile-img {
        width: 100%;
        float: none;
        position: relative;
        top: 0;
    }
    
    .contact-form {
        width: 100%;
        float: none;
        text-align: center;
    }

    .contact-form a {
        margin: 0 auto;
    }
}

@media screen and (max-width: 560px) {
    .traditional {
        float: none;
        width: 100%;
        border: 0;
        margin-bottom: 30px;
    }
    
    .invisalign {
        float: none;
        width: 100%;
        border: 0;
        margin-top: 30px;
    }

    header .menu-mobile p {
        position: relative;
        right: 10px;
        bottom: 30px;
    }

    header .menu-mobile ul {
        top: 125px;
    }
}

@media screen and (max-width: 420px) {
    section.header-fill {
        background-size: contain;
    }

    .form-wrapper {
        display: block;
        margin: 30px 0;
    }

    .form-wrapper input {
        display: block;
        width: 100%;
        max-width: 600px !important;
        padding: 13px;
    }
    
    .form-wrapper a {
        margin: 20px 0;
        width: 100%;
        display: inline-block;
    }

    .round-img .img-wrapper {
        display: none;
    }

    .banner-about .banner-img {
        border-bottom: 3px solid #509d87;
    }

    .banner-about .banner-img img {
        display: none;
    }

    section.statement-fill {
        position: relative;
        top: 0;
        margin-bottom: 0;
    }
    
    .statement-text {
        position: relative;
        top: 160px;
    }
}
